@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input:invalid {
  border-color: inherit;
}

@layer components {
  .nav-button{
    @apply relative flex justify-center items-center size-20 mt-2 mb-2 
    mx-auto shadow-lg bg-deep-sky-blue rounded-full hover:bg-white
    transition-all duration-300 ease-linear cursor-pointer;
  }
  .tooltip{
    @apply absolute inline-block w-auto p-2 m-2 min-w-max left-24 rounded-md shadow-md
    text-white bg-dodger-blue text-lg font-bold transition-all duration-100
    scale-0 origin-left border-white border;

    z-index: 1000;
    pointer-events: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 1s; /* Delay the fade-in by 1 second */
}

@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(
    to right,
    #62BFED,
    #C2BBF0,
    #F698BB,
    #C2BBF0,
    #62BFED,
    #C2BBF0,
    #F698BB
    );
    background-size: 300% 300%;
  }
}